//slide4 beginning
.slide4
   .container
      .row
         .slide4__head
            h3 Наши продукты позволят:
         .slide4__list
            +list("Подключиться к вашим системам и/или создавать новые хранилища данных",
                    "Автоматизировать процесс работы с информацией",
                    "Получив и проанализировав данные, визуализировать результаты, создав интерактивные экраны",
                    "Прогнозировать и строить статистические модели",
                    "Принимать своевременные и точные управленческие решения")
         //.slide4__txt
         //   span Результат – потрясающий!
         .slide4__btn
            a(href="#")
               button Используйте современные подходы<br> к управлению бизнесом!
//slide4 end


