//slide2 beginning
.slide2
   .container
      .row
         .slide2__head
            h3 Вы ежедневно работаете<br> с большим объемом данных…
            span Вам требуется
         .slide2__list
            +list("Эффективный автоматизированный обмен информацией внутри и вне компании",
                    "Мобильность и доступность данных без потери функциональности",
                    "Постоянный мониторинг и контроль ситуации, чтобы мгновенно принять верное, мотивированное решение")
         .slide2__txt
            span Перед вами то и дело встают новые задачи и нам нужно решать их оперативно и гибко?
//slide2 end

