//slide5 beginning
.slide5
   .container
      .row
         .slide5__head
            h3 Вы сможете
         .slide5__list
            +list("Вести мониторинг ситуации постоянно",
                    "Предоставить всем работникам возможность обмена реальной информацией",
                    "Работать с информацией при помощи любого мобильного устройства",
                    "Получать готовые отчеты на e - mail в любых офисных форматах",
                    "Своевременно задавать вопросы и получать обоснованные ответы")
         //.slide5__txt
         //   span Результат – потрясающий!
         .slide5__btn
            a(href="#")
               button Используйте современные подходы<br> к управлению бизнесом!
//slide5 end

