//slide3
.slide3
   .container
      .row
         .slide3__head
            h3 Предлагаем воспользоваться<br>
               span самыми передовыми техногогиями
         .slide3__desc
            span
               | и сделать процесс анализа данных<br>
               | эффективным и удобным для работы и получения результата
         .slide3__circle
            .link__left
               a(href="#", class="slide_link link_after link_after1") Автоматизация бизнес процессов
               a(href="#", class="slide_link link_after link_after2") DataMining в действии
               a(href="#", class="slide_link link_after link_after3") Сетевая аналитика
               a(href="#", class="slide_link link_after link_after4 ") In Memory решения
               a(href="#", class="slide_link link_after link_after5 ") Регрессивное и классификационное моделирование
            .slide3__circle_img
            .link__right
               a(href="#", class="slide_link link_before link_before1") Аналитика реального времени
               a(href="#", class="slide_link link_before link_before2") Гео Аналитика
               a(href="#", class="slide_link link_before link_before3") Прогнозная аналитика
               a(href="#", class="slide_link link_before link_before4") Аналитика больших данных
               a(href="#", class="slide_link link_before link_before5") Интерактивный Визуальный Многофакторный анализ
               a(href="#", class="slide_link link_before link_before6") Анализ неструктурированной информации

