//slide1 beginning
.slide1
   .container
      .row
         .slide1__head
            h3 Вам необходимо решить<br>
            span ряд важных задач…
         .slide1__list
            +list("Повысить эффективность и управляемость бизнеса",
                    "Найти закономерности и причины возникающих проблем",
                    "Визуализировать данные, чтобы сделать правильный вывод",
                    "Продемонстрировать итоги бизнес-деятельности",
                    "Составить прогноз продаж, расходов, прибыльности и так далее",
                    "Раскрыть потенциал как отдельных работников, так и всего коллектива")
         .slide1__txt
            span Перед вами то и дело встают новые задачи и нам нужно решать их оперативно и гибко?
//slide1 end