section.section.active_sec.block#anchor4
   .container
      .row
         .col-md-12
            .active__wrapper
               .circle__wrap
                  //circle
                  ul.active__circle
                     li.active__circle_container.deg1
                        a(href="#", class="active_link")
                        .container_txt
                           a(href="#", class="text_link1 js_font") аналитика в сфере<br> <span>финансы</span>
                     li.active__circle_container.deg2
                        a(href="#", class="active_link")
                        .container_txt
                           a(href="#", class="text_link2 js_font") аналитика в сфере<br> <span>Банки</span>
                     li.active__circle_container.deg3
                        a(href="#", class="active_link")
                        .container_txt
                           a(href="#", class="text_link3 js_font") аналитика в сфере<br> <span>розничная торговля</span>
                     li.active__circle_container.deg4
                        a(href="#", class="active_link")
                        .container_txt
                           a(href="#", class="text_link4 js_font") аналитика в сфере<br> <span>госорганы</span>
                     li.active__circle_container.deg5
                        a(href="#", class="active_link")
                        .container_txt
                           a(href="#", class="text_link5 js_font") аналитика в сфере<br> <span>производство</span>
                     li.active__circle_container.deg6
                        a(href="#", class="active_link")
                        .container_txt
                           a(href="#", class="text_link6 js_font") аналитика в сфере<br> <span>телекоммуникации</span>
                     li.active__circle_container.deg7
                        a(href="#", class="active_link")
                        .container_txt
                           a(href="#", class="text_link7 js_font") аналитика в сфере<br> <span>услуги</span>
                     li.active__circle_container.deg8
                        a(href="#", class="active_link")
                        .container_txt
                           a(href="#", class="text_link8 js_font") аналитика в сфере<br> <span>Медицина</span>
                     li.active__circle_container.deg9
                        a(href="#", class="active_link")
                        .container_txt
                           a(href="#", class="text_link9 js_font") аналитика в сфере<br> <span>энергетика</span>
                     li.active__circle_container.deg10
                        a(href="#", class="active_link")
                        .container_txt
                           a(href="#", class="text_link10 js_font") аналитика в сфере<br> <span>нефть и газ</span>
                     li.active__circle_container.deg11
                        a(href="#", class="active_link")
                        .container_txt
                           a(href="#", class="text_link11 js_font") аналитика в сфере<br> <span>биохимия</span>
                     li.active__circle_container.deg12
                        a(href="#", class="active_link")
                        .container_txt
                           a(href="#", class="text_link12 js_font") аналитика в сфере<br> <span>транспорт</span>
                  .circle__txt
                     h3 Наши решения оценили уже <span>многие<br> клиенты<span>
            include active_mobile/active_mob
