.anch
   a(href="#anchor1", class="anchor shot")
   a(href="#anchor2", class="anchor")
   a(href="#anchor3", class="anchor")
   a(href="#anchor4", class="anchor")
   a(href="#anchor5", class="anchor")
   a(href="#anchor6", class="anchor")

