section.section.clients.block#anchor5
    .container
        .row
            .col-md-12
                .clients__wrapper
                    .our
                        .our__head
                            .our__head_title
                                h3 Наши клиенты
                            .our__head_icons
                                ul
                                    li.our__head_icon
                                        a(href="#", class="activate")
                                            .our__head_text
                                                span банки
                                            img(src="img/clients_top1.jpg", alt="clients_top1")
                                    li.our__head_icon
                                        a(href="#")
                                            .our__head_text
                                                span розничная торговля
                                            img(src="img/clients_top2.jpg", alt="clients_top1")
                                    li.our__head_icon
                                        a(href="#")
                                            .our__head_text
                                                span Производство
                                            img(src="img/clients_top3.jpg", alt="clients_top1")
                                    li.our__head_icon
                                        a(href="#")
                                            .our__head_text
                                                span Государственные<br> учереждения и Министерства
                                            img(src="img/clients_top4.jpg", alt="clients_top1")
                            include clients_tabs/clients_tab1
                            include clients_tabs/clients_tab2
                            include clients_tabs/clients_tab3
                            include clients_tabs/clients_tab4