footer.footer.block#anchor6
   .container
      .row
         .col-md-12
            .footer__button
               a(href="#", class="footer__button_link")
                  button.footer__button_btn Загрузить бесплатно
            .footer__text
               .footer__text_white
                  span СОЗДАЁМ КОМФОРТНЫЕ УСЛОВИЯ ДЛЯ ЛЮДЕЙ РАБОТАЮЩИХ С ИНФОРМАЦИЕЙ.
               .footer__text_dark
                  h3 ДОБИТЬСЯ ЗРИМЫХ РЕЗУЛЬТАТОВ,<br> С ПЕРВОГО ДНЯ НАШЕГО СОТРУДНИЧЕСТВА.
               .footer__copy
                  p <span>&copy;</span> 2016 АСУ-аналитика