header.header.header_bg.block#anchor1
   .container
      .row
         .col-md-3.col-sm-3.col-xs-3
            .header__logo
         .col-md-9.col-sm-12.col-xs-12
            .main_menu__block
               ul.main_menu__block_top
                  li.main_menu__phone
                     a(href="tel:+7-(499)-703-06-94" class="tel") +7-(499)-703-06-94
                     //a(class="callback") Заказать обратный звонок
                  li.main_menu__skype
                     a(href="skype:asu-analitika?call") asu-analitika
                  li.main_menu__email
                     a(href="mailto:info@asu-analitika.ru?Subject=Request") info@asu-analitika.ru
               ul.main_menu__block_bottom
                  +menuMix("menu_item", "menu_link")
            .humburg
            //.main_button__block
            //   a(href="#")
            //      button.menu__button скачать бесплатно
      .row
         .col-md-9.col-md-offset-3.col-sm-12.col-xs-12
            .header__title
               h1
                  | Превращаем данные<br> в&nbsp;конкурентное преимущество<br> благодаря использованию готовых
                  | решений<br> и&nbsp;лучших инструментов аналитики
            .header__desc
               p
                  | Вам надо визуализировать данные,<br>
                  | создать аналитические панели или прогнозировать?
            .header__video
               <iframe width="100%" height="315" src="https://www.youtube.com/embed/TPp55vWNJKs?rel=0"
               | frameborder="0" encrypted-media" allowfullscreen></iframe>
      .row
         .header__buttons
            .header__btn.header__buttons_left
               a(href="#")
                  button.btn.left_btn.btn_head Загрузить бесплатно
            .header__btn.header__buttons_right
               a(href="#")
                  button.btn.right_btn.btn_head DEMO
            .col-md-9.col-md-offset-3.col-xs-12
               //.header__phone
               //   a(href="tel:+7-(499)-703-06-94") +7-(499)-703-06-94

      .row
         .col-md-9.col-md-offset-3.col-sm-12.col-xs-12
            .header__tools
               .tools__head
                  h2 Инструменты
               .tools__desc
                  span анализа мониторинга и прогнозирования бизнеса
      .row
         .col-md-9.col-md-offset-3.col-sm-12.col-xs-12
            ul.tools__items
               li
                  a(href="#")
                     .item__icon.icon1
                     .item__txt Аналитическое хранилище данных
               li
                  a(href="#")
                     .item__icon.icon2
                     .item__txt Инструменты загрузки и обработки информации
               li
                  a(href="#")
                     .item__icon.icon3
                     .item__txt Автоматизация корпоративной отчетности
               li
                  a(href="#")
                     .item__icon.icon4
                     .item__txt Визуализация корпоративной отчетности
               li
                  a(href="#")
                     .item__icon.icon5
                     .item__txt Статистика и моделирование данных
               li
                  a(href="#")
                     .item__icon.icon6
                     .item__txt Прогнозирование, Data Mining

.clears


