.main_menu
   .container
      .row
         .col-md-12
            .menu__wrap
               .menu__logo
               .menu__block
                  ul.menu__block_top
                     li.menu__phone
                        a(href="tel:+7-(499)-703-06-94" class="tel") +7-(499)-703-06-94
                        //a(class="callback") Заказать обратный звонок
                     li.menu__skype
                        a(href="skype:asu-analitika?call") asu-analitika
                     li.menu__email
                        a(href="mailto:info@asu-analitika.ru?Subject=Request") info@asu-analitika.ru
                  ul.menu__block_bottom
                     +menuMix("menu_item", "menu_link")
               .humburg
               //.button__block
               //   a(href="#")
               //      button.menu__button скачать бесплатно



