section.section.method.block#anchor3
   .container
      .row
         .method__title
            h3 Основа нашего метода&nbsp;&mdash;&nbsp;
               strong &laquo;5П&raquo;
      .row
         .method__video
            .video_wrap
               <iframe width="100%" height="315" src="https://www.youtube.com/embed/_qR6xxSuO5A?rel=0"
               | frameborder="0" encrypted-media" allowfullscreen></iframe>
         .tabs__wrapper
            .tabs
               ul
                  li(class="open") Презентация
                  li Прототип
                  li Пилотный проект
                  li Полный проект
                  li Поддержка
            .clear
            .tabs_content
               include tab_content/tab_content1
               include tab_content/tab_content2
               include tab_content/tab_content3
               include tab_content/tab_content4
               include tab_content/tab_content5
.clear
         //.tabs__content


