extends includes/layout

block title
    title Асу Аналитика

block content
    //header beginning
    include includes/header
    //header end

    //main menu beginning
    include includes/main_menu
    //main menu end

    //slider section beginning
    include includes/slider
    //slider section end

    //method section beginning
    include includes/method
    //method section end

    //active section beginning
    include includes/active
    //active section end

    //clients section beginning
    include includes/clients
    //clients section end

    //footer beginning
    include includes/footer
    //footer end

    //anchors
    include includes/anchors