.mob_active_wrapper
   .mob_active_txt
      h3 Наши решения оценили уже<br> <span>многие клиенты<span>
   ul.mob_active_container
      .mob_links_left
         li.mob_cont.mob_container1
            a(href="#", class="js_link")
            .container_txt
               a(href="#", class="mob_link js_font") аналитика в сфере <span>финансы</span>
         li.mob_cont.mob_container2
            a(href="#", class="js_link")
            .container_txt
               a(href="#", class="mob_link js_font") аналитика в сфере <span>Банки</span>
         li.mob_cont.mob_container3
            a(href="#", class="js_link")
            .container_txt
               a(href="#", class="mob_link js_font") аналитика в сфере <span>розничная торговля</span>
         li.mob_cont.mob_container4
            a(href="#", class="js_link")
            .container_txt
               a(href="#", class="mob_link js_font") аналитика в сфере <span>госорганы</span>
         li.mob_cont.mob_container5
            a(href="#", class="js_link")
            .container_txt
               a(href="#", class="mob_link js_font") аналитика в сфере <span>производство</span>
         li.mob_cont.mob_container6
            a(href="#", class="js_link")
            .container_txt
               a(href="#", class="mob_link js_font") аналитика в сфере <span>телекоммуникации</span>

      .mob_links_right
         li.mob_cont.mob_container7
            a(href="#", class="js_link")
            .container_txt
               a(href="#", class="mob_link js_font") аналитика в сфере <span>услуги</span>
         li.mob_cont.mob_container8
            a(href="#", class="js_link")
            .container_txt
               a(href="#", class="mob_link js_font") аналитика в сфере <span>Медицина</span>
         li.mob_cont.mob_container9
            a(href="#", class="js_link")
            .container_txt
               a(href="#", class="mob_link js_font") аналитика в сфере <span>энергетика</span>
         li.mob_cont.mob_container10
            a(href="#", class="js_link")
            .container_txt
               a(href="#", class="mob_link js_font") аналитика в сфере <span>нефть и газ</span>
         li.mob_cont.mob_container11
            a(href="#", class="js_link")
            .container_txt
               a(href="#", class="mob_link js_font") аналитика в сфере <span>биохимия</span>
         li.mob_cont.mob_container12
            a(href="#", class="js_link")
            .container_txt
               a(href="#", class="mob_link js_font") аналитика в сфере <span>транспорт</span>