.clear
//tab3 content
.tab_content
    .content
        .content__img
            img(src="img/pilot.png", alt="max")
        .clear
        .content__desc
            .content__desc_txt3
                h3 <span>П</span>илотный проект
                p
                    | Внедрение системы с интеграцией и обучением<br> вашего персонала
            .content__desc_period3
                span Необходимый срок – два месяца