.clear
//tab4 content
.tab_content
    .content
        .content__img
            img(src="img/complite.png", alt="max")
        .clear
        .content__desc
            .content__desc_txt4
                h3 <span>П</span>олный проект
                p
                    | Предоставляется, когда вы приняли решение приобрести систему
            .content__desc_period4
                span С учетом интеграции и&nbspобучения&nbspна&nbsp;это<br> потребуется от одного месяца