.clear
//tab1 content
.tab_content.active
   .content
      .content__img
         img(src="img/dask.png", alt="dask")
      .clear
      .content__desc
         .content__desc_txt1
            h3 <span>П</span>резентация
            p Проведение ее, демонстрации или вебинара
         .content__desc_period1
            span Занимает один день



