.clear
//tab2 content
.tab_content
    .content
        .content__img
            img(src="img/max.png", alt="max")
        .content__desc
            .content__desc_txt2
                h3 <span>П</span>рототип
                p
                    | Его создание (используются предоставленные вами данные)<br>
                    | и предоставление Вам для тестирования
                .content__desc_period2
                    span Требуется всего одна неделя
