.clear
//tab4 content
.tab_content
    .content
        .content__img
            img(src="img/support.png", alt="max")
        .clear
        .content__desc
            .content__desc_txt5
                h3 <span>П</span>оддержка
                p
                    | Оказывается по окончанию проекта<br> Доработки и консультирование
            .content__desc_period5
                span Бессрочная